* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #071419;
    color: white;
}

div {
    font-family: 'Hack Nerd Font';
}

div p {
    font-size: 15px;
    padding-top: 7px;
}

.title {
    background-color: #071419;
    font-family: 'JetBrains Mono';
    color: white;
    margin: 0 3rem 2rem 3rem;
    padding-top: 3rem;
    border-bottom: 1px solid white;
}

.title-h1 {
    font-size: 9rem;
    text-align: center;
}

.cajaContenedora {
    height: 150px;
    margin-bottom: 1rem;

}

.caracteristicas {
    border: 3px solid #950100;
    border-radius: 5px;
    padding: 10px;
    margin: 0.5rem 0 0 6rem;
    width: 40%;
    display: inline-block;
}

.caracteristicas-1 {
    width: 30%;
    display: inline-block;
}

.cajaContenedoraImagenes {
    
    height: 300px;
    margin: 0 10px 30px 10px;
}

.imagenes {
    outline: 3px solid white;
    width: 90%;
    height: 250px;
    margin: 1rem 5rem 0 6.5rem;
}

.carac-h3 {
    border-bottom: 2.5px solid  #950100;
    
}

/* <-- Cómics --> */

.box-inframe {
    margin: 0 auto;
    padding: 10px;
    width: 95%;
    height: 450px;
}

p.title_comic {
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 35px;
    font-weight: 700;
}

div.comic_1 {
    margin-top: 1rem;
    margin-right: 5rem;
    width: 25%;
    height: 370px;
    float: left;
}

div.comic_1_p {
    position: relative;
    bottom: 97%;
    left: 12%;
    font-size: 20px;
    text-align: justify;
    width: 70%;
    z-index: -1;
    padding: 15px;
}

div.comic_2 {
    margin-top: 1rem;
    margin-left: 9.5rem;
    float: left;
    width: 25%;
    height: 370px;
}

div.comic_2_p {
    position: relative;
    bottom: 89%;
    left: 12%;
    font-size: 20px;
    text-align: justify;
    width: 70%;
    z-index: -1;
    padding: 15px;
}

img.comic_img_2 {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 10px;
}

img.comic_img_2:hover {
    opacity: 0.1;
}

img.comic_img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 10px;
}

img.comic_img:hover {
    opacity: 0.1;
}

div.comic_3 {
    margin-top: 1rem;
    margin-left: 13rem;
    float: left;
    width: 25%;
    height: 370px;
}

div.comic_3_p {
    position: relative;
    bottom: 97%;
    left: 12%;
    font-size: 20px;
    text-align: justify;
    width: 70%;
    z-index: -1;
    padding: 15px;
}

img.comic_img_3 {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 10px;
}

img.comic_img_3:hover {
    opacity: 0.1;
}

.iframe-spiderman {
    border: none;
    width: 100%;
    height: 100%;
}

.box-store {
    border: 2.5px solid #eee;
    border-radius: 4px;
    margin: 0 auto;
    width: fit-content;
    margin-top: 5px;
}

.box-store a {
    color: white;
    display: inline-block;
    box-sizing: content-box;
    padding: 20px;
    text-decoration: none;
}

.box-store a:hover {
    background-color: #031d44;
    color: white;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;

}

/* <-- Contacto --> */

.fondoContacto {
    margin-top: 30px;
    background-image: url(/images/d2ed2e9d9a69524c169843c3c2485c27.jpg);
    height: 52rem;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 7.5rem 0 0 15rem;
}

.form-contenedor {
    max-width: 700px;
    padding: 30px;
    background-color: #E63946;
    border-radius: 10px;
}

.form-contenedor h2 {
    font-family: 'JetBrains Mono';
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: white;
    text-align: center;
}

.form-contenedor .elemento label {
    font-family: sans-serif;
    color: white;
}

.form-contenedor .elemento input {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

.form-contenedor .elemento input[type="submit"] {
    font-family: 'JetBrains Mono';
    background-color: #1d3557;
    border: none;
    border-radius: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}

.form-contenedor .elemento textarea {
    font-family: 'JetBrains Mono';
    font-size: 0.8em;
    width: 100%;
    height: 200px;
    padding: 5px;
    margin-top: 10px;
    border:none;
    border-radius: 4px;
}

/* <-- Barra de Navvgación --> */

.barra_navegacion {
    background-color: #003049;
    margin: 0;
    width: 100%;
    height: 30px;
    padding: 10px;
    position: fixed;
}

.barra_navegacion div {
    display: inline-block;
    margin-top: 6px;
}

.barra_navegacion a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-left: -10px;
}

.barra_navegacion a:hover {
    background-color: #184e77;
}